@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

html{
    background-color: black;
    color: white;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    background-image: url("../images/background5.jpg");
    background-size: cover;
}

.navbar{
    width: 100%;
}

i{
    color: white;
}
i.menu{
    color: black;
    font-size: 1.5em;
}
i:hover{
    color: turquoise;
}

#login{
    position: absolute;
    z-index: 100;
    top: 3%;
    left: 80%;
    background-color: transparent;
    display: none;
}

#iconLog{
    position: absolute;
    z-index: 100;
    left: 89%;
    top: 3%;
    width: 100%;
    background-color: transparent;
    display: inherit;
    width: 9%;

}
.centrado{
    margin-left: 36%;
}

#btnYoutube{
    color: red;
    font-size: 1.3em;
}
#marginRow{
    margin-top: 23px;
}
.row{
    margin: 0;
}
a{
    color: white;
}
a:hover{
    color: turquoise;
}
ol{
    padding: 0 0 0 4em;
}
.nav-item{
    text-align: center;
}
.backVideo{
    border: solid 0.1em rgba(0, 174, 255, 0.363);
    padding: 1em;
    background-color: rgba(5, 73, 104, 0.219);
    margin: 1em 0;
    border-radius: 1em;
}

.leftVideo{
    margin: 1em 0;
}
#text{
    color: darkblue;
    font-family: 'Do Hyeon', sans-serif;
}

.fontFamily{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.3vw;
}
.fontFamily:hover{
    color: turquoise;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

#divInsta{
    margin-right: 3%;
}
/*
#divCard{
    margin-left: 23%;
}
*/

.cardComentario{
    padding: 0.25rem 0.25rem;
}


.marginBottom{
    margin-top:2vh;
    margin-bottom: 3vh;
}

#abc{
    z-index: 1;
}
*{
    font-family: 'Vollkorn', serif;
}



#register{
    margin-left: 2%;
}
#userRegistered{
    text-align: center;
}
/*
*{
    border: solid 1px red;
}
*/

a.white{
    font-size: 1.25vw;
}
h5.card-title{
    text-align: center;
}
#imagenReproductor{
    width: 100%;
}
.fondoNegro{
    background-color: black;
}


.transparent{
    background:transparent;
    font-size: 0.7em;
    padding: 0 0.8em;
    text-align: left;
}
.centrarTexto{
    text-align: center;
}
.scroll{
    overflow: auto;
    max-height: 26rem;
}
.background{
        background-color: white;
        color: black;
}

.listaReproduccion{
    border-bottom: solid 1px blue;
    border-radius: 100px;
    font-size: 2vw;
}

#textArea{
  max-height: 50%;
}















































input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
